/* RESET EVERYTHING */
@media print {
  body * {
    display: none !important;
    visibility: hidden !important;
  }

  /* SHOW ONLY REPORT */
  #report, #report * {
    display: block !important;
    visibility: visible !important;
  }
}